<div class="main">

<div class="panel">
  <music-list [list]="audioList"  [groups]="groups" (selected)="onSelect($event)">
  </music-list>
</div>

<div class="player">
  <div *ngIf="selectedItem != undefined" class="headerPanel">
    <div  *ngIf="isMultiLang" class="dummy"></div>
    <div  class="title"><span>{{selectedItem.name}}</span></div>
    <div *ngIf="isMultiLang">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select language</button>
      <div  class="dropdown-menu">
        <div  *ngFor="let item of languages" class="dropdown-item" (click)="selectLanguage(item)">{{item}}</div>
      </div>
    </div>
  </div>

  <div  *ngIf="selectedItem != undefined" class="pdfwrapper">
  <div class="pdfviewer">
  <pdf-viewer  [original-size]="false" [src]="currentPdf" [zoom]="zoom" ></pdf-viewer>
  </div>
  <div class="toolbar">
      <div class="button" (click)="zoomIn()">
          <i  class="fa fa-search-plus icon"></i>
      </div>
      <div class="button"  (click)="zoomOut()">
          <i  class="fa fa-search-minus icon"></i>
      </div>

  </div>



</div>

  <div *ngIf="selectedItem != null" class="audioplayer m-t-20">
  <audio-component  class="audioplayer" class="audioplayer"  [selectedSong]='(selectedItem) ? selectedItem.path : ""' >
  </audio-component>
  </div>

  <div class="masterimage" *ngIf="selectedItem == undefined">
    <img class="maxheight" src="assets/img/uppli.jpg" />
  </div>
</div>

</div>
