.main{
display: flex;
flex-direction: row;
height: calc(100% - 75px);
}
.panel{
width: 30%;
min-width: 300px;
max-width: 350px;
background-color: #EDEDED;
height: 100%;

}

.player{
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center
}

.pdfviewer{
  flex-grow: 1;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
}
.audioplayer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.m-t-20{
  margin-top: 50px;
}
.headerPanel{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.dummy{
  width: 150px;
}
.title{
  font-size: 36px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-grow: 3;
}
.toolbar{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 30px;
  bottom: 20px;


}
.title,
.audioplayer {
  flex-shrink: 0;
}


.pdfwrapper{
  display: flex;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 80%;
}
.floating{
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}

.right{
  float: right;
}
.button
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #EFF1F2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  font-size: 25px;
  color : #3B9586;
}
.masterimage{
  margin-top: 50px;
  height: 90%;
}
