.subtitle {
  color: black;
}

.selected{
  background-color: rgb(122, 13, 13)
}

.item{
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  font-size: 16px;
}
.search
{
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
}
.m-l-20{
  margin-left: 20px;
}
.thiruman{
  height: 10%;
}
.w90{
width:90%;
height: 110%;
}
.m-b-10{
  margin-bottom: 30px
}
.list{
  overflow: auto;
  height: 87%;
}
.sidepanel{
  height: 100%
}
.menu{
  font-size: 20px;
  font-weight: 200;
}
.subitem{
  margin-left: 20px;
  margin-right: 20px;
}
