<div class="sidepanel">
<div class="thiruman">
  <img class="w90 m-b-10" src="assets/img/thiruman.png" />
</div>
<div class="search">
    <i  class="fa fa-search icon"></i>
  <div class="m-l-20">Search</div>
</div>
<div  class="list">
    <div  *ngFor="let groupItem of groups;let i=index"  >
      <div class="item subtitle menu" (click)="onSelectGroup(groupItem.group)"> <i  class="fa" [ngClass]="{'fa-caret-down' :(groupItem.expanded), 'fa-caret-right' :(!groupItem.expanded) }"></i> {{groupItem.group}}</div>
      <div *ngIf="groupItem.expanded" >
          <div *ngFor="let item of list|filter:{group:groupItem.group}:false ;let i=index" class="item subtitle subitem" [ngClass]="{'selected' : (item==selectedItem) }" (click)="onSelect(item)">{{item.name}}</div>
      </div>
  </div>
</div>
</div>

    