/* You can add global styles to this file, and also import other style files */
@import "https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css";

html, body{
  margin: 0px;
  height: 100%;
}
body{
  background-color: #DADBD3;
}
.header
{
height: 70px;
display: flex;
align-items: center;
background-color: #3B9687;
color: rgb(255, 239, 239);
font-size: 38px;
}

.panelheader{
  width: 30%;
  min-width: 300px;
  max-width: 350px;
  height: 100%;
  color: rgb(255, 239, 239);
  }
.center
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.maxwidth
{
width: 100%;
}
.maxheight{
  height: 100%
}
